# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage
/test

# Build
/.opt-in
/build

# generated translation files
/translations

# Development files from the integrated scratch-vm repository
/scratch-vm/.editorconfig
/scratch-vm/.eslintignore
/scratch-vm/.eslintrc.js
/scratch-vm/.gitattributes
/scratch-vm/.github
/scratch-vm/.travis.yml
/scratch-vm/.tx
/scratch-vm/node_modules
/scratch-vm/test

# Build and coverage files from the integrated scratch-vm repository
/scratch-vm/playground
/scratch-vm/.nyc_output
/scratch-vm/coverage
/scratch-vm/scratch-vm-*.{tar,tgz}

# Development files from the integrated scratch-blocks repository
/scratch-blocks/.eslintignore
/scratch-blocks/.eslintrc
/scratch-blocks/.editorconfig
/scratch-blocks/.github
/scratch-blocks/.tx
/scratch-blocks/node_modules
/scratch-blocks/tests
/scratch-blocks/gh-pages
/scratch-blocks/scratch-blocks-*.{tar,tgz}
