body {
    font-family: var(--font-ui);
    font-feature-settings: "tnum" 1;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
}
