@import "../../css/colors.css";

.code,
.unsandboxed-container,
.sandboxed {
    margin: 8px 0;
}

.unsandboxed-container {
    display: flex;
    align-items: center;
}
.unsandboxed-checkbox {
    margin-right: 8px;
}
